<nav>
    <i class="hamburger fa fa-bars"></i>
    <div id="links">
        <div id="flex"> <a href="/calender">Start page</a><br>
            <a href="/events">All of your events</a></div>
       
    </div>

</nav>