<nav id="navEl">
    <i class="fa fa-bars" id="menu"></i>
    <div id="links">
        <div id="flex">
            <a href="/startpage"><i class="fa fa-house-user"></i>Home</a><br>
            <a href="/events"><i class="fa fa-calendar-check"></i>Events</a>
        </div>
    </div>


</nav>