<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8093dc5ac1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/style.css">
    <title>Start page</title>
</head>
<body id="startpagebody">
    
    <div class="headerAndNav" id="headerAndNavStart">
        <%- include ('partials/nav.ejs') %>
        <%- include ('partials/header.ejs') %>
    </div>

 <p id="startIcon">Welcome to the Calendar!</p>
    
    <%- include ('partials/footer.ejs') %> 
    
    <script src="./js/app.js"></script>

</body>
</html>

