@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Khand', sans-serif;
}

body {
    background-color: #FFE9CE;
}

#event, #time {
    min-width: 80%;
    min-height: 20px;
    margin: 40px;
    border: none;
    font-size: 2rem;
}

footer {
    min-height: 100px;
    background-color: #090909;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    width: 100vw;
    color: #FFE9CE;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    min-height: 100px;
    background-color: #090909;

    width: 100vw;
    color: #FFE9CE;
    font-size: 1.3rem;
}

#pinkHeader {
    min-height: 10%;
    background-color: #E26D5A;
    width: 100vw;
    color: #FFE9CE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#blackHeader {
    min-height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#weekdays,
#dateOfWeek {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
    height: 50%;
    text-align: center;
}

#weekdays li, #dateOfWeek li {
    width: 30px;
}

#weekdays {
    padding-top: 5px;
}

#addEvent {
    border-radius: 100%;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #7B886B;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFE9CE;
    position: fixed;
    bottom: 20px;
    left: 45%;
    z-index: 100;

    /* background: linear-gradient(145deg, #849272, #6f7a60);
    box-shadow: 6px 6px 11px #080808,
        -6px -6px 11px #0a0a0a; */
}

.activeDate {
    background-color: #7B886B;
    border-radius: 10px;
}

.eventContainer {
    background-color: #AFB6A7;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #080808;
    display: block;
}

.eventContainer:last-of-type {
    margin-bottom: 200px;
}

#event, #time {
    display: none;
}

a {
    color: #FFE9CE;
}